<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: lightgray">
  <div class="header">
    <h2 class="username"></h2>
    <form id="profileform" action="/login" method="get"><i onclick="this.parentNode.submit();" class="fas fa-user" id="profile"></i></form>
    <form id="homeform" action="/home" method="get"><i onclick="this.parentNode.submit();" class="fas fa-home" id="home"></i></form>
  </div>
  <div class="container">
      <div class="readBooks">
          <label>Read books</label>
        <ul class="bookList">

        </ul>
      </div>

      <div class="recommendButton">
          <form class="buttonform" action="/recommend"><button onclick="this.parentNode.submit()">Recommend new books</button></form>
      </div>

      <div class="recommendedLast">
          <form class="buttonform" action="/recommendations"><button onclick="this.parentNode.submit()">My recommendations</button></form>
      </div>
  </div>


</body>
</html>